body {font-family: Arial, Helvetica, sans-serif;}


form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  margin: 8px 0;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

a {
  color: #00B7FF;
}

a.button{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

a.button:hover{
  opacity: 0.8;
}

input[type="email"], input[type="text"], input[type="password"]{
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.page-container{
  display: flex;
  justify-content: center;
}

.container-row{
  display: flex;
  justify-content: space-around;
}

table, tr, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

tr{
  padding: 8px;
}

th{
  padding: 8px;
  background-color: #0077ff;
  color: white;
}

td{
  padding: 5px;
}

.create-appointment-form form .container div label{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

.create-appointment-form form .container div input, .create-appointment-form form .container div select {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}